
body {
    background-color: rgb(231, 240, 243);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('/images/3870338.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.row{
    color: #0f0808;
    
}
#center{
    text-align: center;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    
    
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}


button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}